<!-- <div class="container">
  <p>Angular Fullstack v3.5.0 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
  </p>
</div> -->


<div class="container blue-grey">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">University of Florida: Mobile and Pervasive Computing - Spring 2016</h5>
      <p class="grey-text text-lighten-4">Led by Dr. Sumi Helal</p>
      <p class="grey-text text-lighten-4">Sponsored by Google</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Technologies</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://developers.google.com/beacons/">Google Beacon Platform</a></li>
        <li><a class="grey-text text-lighten-3" href="https://developers.google.com/nearby/">Nearby</a></li>
        <li><a class="grey-text text-lighten-3" href="https://developers.google.com/brillo/">Brillo</a></li>
        <li><a class="grey-text text-lighten-3" href="https://developers.google.com/weave/">Weave</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2016 Copyright HeadsUp
  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
