<div class="container">
  <h1>New Space </h1>

  <!-- Basic Space info Form-->
  <form class="thing-form">
    <p class="input-group">
      <h5>Basic Space Info</h5>
      <label style="display: block; margin-bottom: 1.0rem">
          This is basic information about your space. You will be able to add more beacons later!
      </label>
      <label for="space-name">Space Name</label>
      <input type="text" id="space-name" placeholder="New space's name" ng-model="sc.newSpaceName">
      <label for="space-desc">Space Description</label>
      <input type="text" id="space-desc" placeholder="New space's description" ng-model="sc.newSpaceDescription">
      <label for="space-beacon">Beacon Identifier</label>
      <input type="text" id="space-beacon"  placeholder="New space's beacon id" ng-model="sc.newSpaceBeaconID">
    </p>

    <!-- Configure User Space Profile Options -->
    <p class="input-group">
      <h5>Information You'd Like Your Patrons to Provide Upon Profile creation</h5>
      <label style="display: block; margin-bottom: 1.0rem">
          This information will tailor your patrons experience to your Space. Choose wisely!
      </label>
      <!-- REPEAT ADDITIONAL BEACONS -->
      <div ng-repeat="beacon in sc.additionalBeacons" class="row">
        <!-- Display beacon Name -->
        <div class="input-field col s11" ng-hide="beacon.editable">
          <input type="text" id="beacon-name" placeholder="New beacon's name" ng-model="beacon.name" >
        </div>
        <!-- View to customize the Dropdown title and Options -->
        <a ng-hide="beacon.editable" class="btn-floating btn-large waves-effect waves-light red right" ng-click="beacon.editable = true"><i class="material-icons">mode_edit</i></a>        <!-- Form to edit the dropdown -->
        <div class="col s11" ng-show="beacon.editable">
          <label class="active" for="b-name">Beacon Name</label>
          <input type="text" id="b-name" ng-model="beacon.name">
          <label class="active" for="b-identifier">Beacon Identifier</label>
          <div class="input-field" id="b-identifier">
            <input type="text"  ng-model="beacon.identifier" placeholder="Enter the identifier for this beacon" required>
          </div>
          <label class="active" for="b-type">Beacon Type</label>
          <div class="input-field" id="b-type">
            <select class="browser-default">
              <option ng-repeat="option in beacon.typeOptions" value="{{option}}">{{option}}</option>
            </select>
          </div>
          <label class="active" for="b-enqueue">Queue Name</label>
          <div class="input-field" id="b-enqueue">
            <input type="text"  ng-model="beacon.enqueue.queueName" placeholder="Enter the name for this queue">
          </div>
          <!-- Switch -->
          <div class="row">
            <div class="switch" style="padding-top: 3%">
              <label>
                Will this beacon be attached with sensors?
                <input type="checkbox" ng-model="beacon.usesSensors">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <!-- Button to "finish editing" the dropdown -->
        <a ng-show="beacon.editable" class="btn-floating btn-large waves-effect waves-light red right" ng-click="beacon.editable = false"><i class="material-icons">done</i></a>
      </div>

      <!-- REPEAT CUSTOM DROPDOWNS -->
      <div ng-repeat="dropdown in sc.customDropDowns" class="row">
        <!-- Display the actual dropdown in form it would be shown to Users -->
        <div class="input-field col s11" ng-hide="dropdown.editable">
          <select class="browser-default">
            <option value="" disabled selected>{{dropdown.label}}</option>
            <option ng-repeat="option in dropdown.optionStrings" value="{{option.number}}">{{option.value}}</option>
          </select>
        </div>
        <!-- View to customize the Dropdown title and Options -->
        <a ng-hide="dropdown.editable" class="btn-floating btn-large waves-effect waves-light red right" ng-click="dropdown.editable = true"><i class="material-icons">mode_edit</i></a>        <!-- Form to edit the dropdown -->
        <div class="col s11" ng-show="dropdown.editable">
          <label class="active" for="dd-title">Dropdown Title</label>
          <input type="text" id="dd-title" ng-model="dropdown.label" placeholder="Enter a title for this dropdown">
          <div class="input-field" ng-repeat="option in dropdown.optionStrings track by $index">
            <input type="text"  id="UNIQUE{{$index}}" ng-model="option.value" placeholder="Fill in this drop down option">
            <label class="active" for="UNIQUE{{$index}}">Option #{{$index + 1}}</label>
          </div>
          <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light red right" ng-click="sc.newDropDownOption(dropdown)"><i class="material-icons">add</i></a>
            <!-- Switch -->
            <div class="switch" style="padding-top: 3%">
              <label>
                Match Users on this option?
                <input type="checkbox" ng-model="dropdown.matchUsers">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <!-- Button to "finish editing" the dropdown -->
        <a ng-show="dropdown.editable" class="btn-floating btn-large waves-effect waves-light red right" ng-click="dropdown.editable = false"><i class="material-icons">done</i></a>
      </div>

      <!-- REPEAT CUSTOM CHECKBOXES -->
      <!-- Display the actual checkbox in form it would be shown to Users -->
      <div ng-repeat="check in sc.customCheckAlls" class="row">
        <div ng-hide="check.editable" class="col s11">
          <a  class="btn-floating btn-large waves-effect waves-light red right" ng-click="check.editable = true"><i class="material-icons">mode_edit</i></a>
          <p>{{check.label}}</p>
          <form action="#">
            <p ng-repeat="option in check.optionStrings track by $index">
              <input type="checkbox" id="UNIQUE{{$index}}" />
              <label for="UNIQUE{{$index}}">{{option.value}}</label>
            </p>
          </form>
        </div>
      <!-- View to customize the Checkbox title and Options -->
        <div class="col s11" ng-show="check.editable">
          <label class="active" for="check-title">Check All That Apply Title</label>
          <input type="text" id="check-title" ng-model="check.label" placeholder="Enter a title for this Checkbox Option">
          <div class="input-field" ng-repeat="option in check.optionStrings track by $index">
            <input type="text"  id="UNIQUE{{$index}}" ng-model="option.value" placeholder="Fill in this drop down option">
            <label class="active" for="UNIQUE{{$index}}">Option #{{$index + 1}}</label>
          </div>
          <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light red right" ng-click="sc.newDropDownOption(check)"><i class="material-icons">add</i></a>
            <!-- Switch -->
            <div class="switch" style="padding-top: 3%">
              <label>
                Match Users on this option?
                <input type="checkbox" ng-model="check.matchUsers">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <!-- Button to "finish editing" the check -->
        <a ng-show="check.editable" class="btn-floating btn-large waves-effect waves-light red right" ng-click="check.editable = false"><i class="material-icons">done</i></a>
      </div>
      <!-- END CUSTOM CHECKBOXES -->

      <!-- CUSTOM FREE RESPONSES -->
      <div ng-repeat="fr in sc.customFreeResponses track by $index" class="row">
        <form class="col s12" ng-hide="fr.editable">
          <div class="row">
            <a  class="btn-floating btn-large waves-effect waves-light red right" ng-click="fr.editable = true"><i class="material-icons">mode_edit</i></a>
            <div class="input-field col s11">
              <textarea id="UNIQUE{{$index}}" class="materialize-textarea" length="{{fr.charLimit}}"></textarea>
              <label for="UNIQUE{{$index}}">{{fr.label}}</label>
            </div>
          </div>
        </form>
        <!-- View to customize the Free Response Title and Char Limit -->
        <div class="col s11" ng-show="fr.editable">
          <label class="active" for="fr-title">Free Response Title</label>
          <input type="text" id="fr-title" ng-model="fr.label" placeholder="Enter a title for this Free Response">
          <form action="#">
            <strong><p>Character Limit</p></strong>
            <p class="range-field">
              <input type="range" id="test5" min="5" max="300" ng-model="fr.charLimit" />
            </p>
          </form>
          <div class="row">
            <!-- Switch -->
            <div class="switch" style="padding-top: 3%">
              <label>
                Match Users on this option?
                <input type="checkbox" ng-model="fr.matchUsers">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <!-- Button to "finish editing" the fr -->
        <a ng-show="fr.editable" class="btn-floating btn-large waves-effect waves-light red right" ng-click="fr.editable = false"><i class="material-icons">done</i></a>
      </div>

      <!--Sensor Select -->
      <label style="display: block; margin-bottom: 1.0rem" ng-show="sc.addLight">
        Click to Select a Sensor
      </label>
      <div class="row" ng-repeat="sensors in sc.lightSensors track by $index" ng-if="$index %2 == 0" ng-show="sc.addLight">
        <div class="col s5 m5 l5" ng-repeat="sensor in [$index, $index +1]" ng-if="sc.lightSensors[sensor] != null">
          <p ng-hide="sc.lightSensors[sensor].editable"> {{sc.lightSensors[sensor].name}}: {{sc.lightSensors[sensor].model}} </p>
          <div class="thumbnail" ng-hide="sc.lightSensors[sensor].editable">
            <img ng-hide="sc.lightSensors[sensor].editable" src="{{sc.lightSensors[sensor].imgURL}}" class="img-responsive" width="100px" height="100px" ng-click="sc.lightSensors[sensor].editable = true"/>
            <div class="number-chosen">
              <p style="font-size: 15px;">{{sc.lightSensors[sensor].number}}</p>
            </div>
          </div>
          <a class="waves-effect waves-light btn red new-button col s4" ng-click="sc.lightSensors[sensor].editable = false; sc.lightSensors[sensor].number = 0;" ng-show="sc.lightSensors[sensor].editable">Cancel</a>
          <a class="waves-effect waves-light btn green new-button col s4" ng-click="sc.lightSensors[sensor].editable = false; sc.lightSensors[sensor].selected = true;" ng-show="sc.lightSensors[sensor].editable">Ok</a>
          <form ng-show="sc.lightSensors[sensor].editable" action="#">
            <strong><p>Number of {{sc.lightSensors[sensor].name}}s</p></strong>
            <p class="range-field">
              <input type="range" id="test5" min="1" max="50" ng-model="sc.lightSensors[sensor].number" />
            </p>
          </form>

        </div>
      </div>
      <!--Sensor Select -->
      <label style="display: block; margin-bottom: 1.0rem" ng-show="sc.addPress">
        Click to Select a Sensor
      </label>
      <div class="row" ng-repeat="sensors in sc.pressureSensors track by $index" ng-if="$index %2 == 0" ng-show="sc.addPress">
        <div class="col s5 m5 l5" ng-repeat="sensor in [$index, $index +1]" ng-if="sc.pressureSensors[sensor] != null">
          <p ng-hide="sc.pressureSensors[sensor].editable"> {{sc.pressureSensors[sensor].name}}: {{sc.pressureSensors[sensor].model}} </p>
          <div class="thumbnail" ng-hide="sc.pressureSensors[sensor].editable">
            <img ng-hide="sc.pressureSensors[sensor].editable" src="{{sc.pressureSensors[sensor].imgURL}}" class="img-responsive" width="100px" height="100px" ng-click="sc.pressureSensors[sensor].editable = true"/>
            <div class="number-chosen">
              <p style="font-size: 15px;">{{sc.pressureSensors[sensor].number}}</p>
            </div>
          </div>
          <a class="waves-effect waves-light btn red new-button col s4" ng-click="sc.pressureSensors[sensor].editable = false; sc.pressureSensors[sensor].number = 0;" ng-show="sc.pressureSensors[sensor].editable">Cancel</a>
          <a class="waves-effect waves-light btn green new-button col s4" ng-click="sc.pressureSensors[sensor].editable = false; sc.pressureSensors[sensor].selected = true;" ng-show="sc.pressureSensors[sensor].editable">Ok</a>
          <form ng-show="sc.pressureSensors[sensor].editable" action="#">
            <strong><p>Number of {{sc.pressureSensors[sensor].name}}s</p></strong>
            <p class="range-field">
              <input type="range" id="test5" min="1" max="50" ng-model="sc.pressureSensors[sensor].number" />
            </p>
          </form>

        </div>
      </div>
      <!--Sensor Select -->
      <label style="display: block; margin-bottom: 1.0rem" ng-show="sc.addProx">
        Click to Select a Sensor
      </label>
      <div class="row" ng-repeat="sensors in sc.proximitySensors track by $index" ng-if="$index %2 == 0" ng-show="sc.addProx">
        <div class="col s5 m5 l5" ng-repeat="sensor in [$index, $index +1]" ng-if="sc.proximitySensors[sensor] != null">
          <p ng-hide="sc.proximitySensors[sensor].editable"> {{sc.proximitySensors[sensor].name}}: {{sc.proximitySensors[sensor].model}} </p>
          <div class="thumbnail" ng-hide="sc.proximitySensors[sensor].editable">
            <img ng-hide="sc.proximitySensors[sensor].editable" src="{{sc.proximitySensors[sensor].imgURL}}" class="img-responsive" width="100px" height="100px" ng-click="sc.proximitySensors[sensor].editable = true"/>
            <div class="number-chosen">
              <p style="font-size: 15px;">{{sc.proximitySensors[sensor].number}}</p>
            </div>
          </div>
          <a class="waves-effect waves-light btn red new-button col s4" ng-click="sc.proximitySensors[sensor].editable = false; sc.proximitySensors[sensor].number = 0;" ng-show="sc.proximitySensors[sensor].editable">Remove</a>
          <a class="waves-effect waves-light btn green new-button col s4" ng-click="sc.proximitySensors[sensor].editable = false; sc.proximitySensors[sensor].selected = true;" ng-show="sc.proximitySensors[sensor].editable">Ok</a>
          <form ng-show="sc.proximitySensors[sensor].editable" action="#">
            <strong><p>Number of {{sc.proximitySensors[sensor].name}}s</p></strong>
            <p class="range-field">
              <input type="range" id="test5" min="1" max="50" ng-model="sc.proximitySensors[sensor].number" />
            </p>
          </form>

        </div>
      </div>
      <!--Sensor Select -->
      <label style="display: block; margin-bottom: 1.0rem" ng-show="sc.addTemp">
        Click to Select a Sensor
      </label>
      <div class="row" ng-repeat="sensors in sc.temperatureSensors track by $index" ng-if="$index %2 == 0" ng-show="sc.addTemp">
        
        <div class="col s5 m5 l5" ng-repeat="sensor in [$index, $index +1]" ng-if="sc.temperatureSensors[sensor] != null">
          <p ng-hide="sc.temperatureSensors[sensor].editable"> {{sc.temperatureSensors[sensor].name}}: {{sc.temperatureSensors[sensor].model}} </p>
          <div class="thumbnail" ng-hide="sc.temperatureSensors[sensor].editable">
            <img ng-hide="sc.temperatureSensors[sensor].editable" src="{{sc.temperatureSensors[sensor].imgURL}}" class="img-responsive" width="100px" height="100px" ng-click="sc.temperatureSensors[sensor].editable = true"/>
            <div class="number-chosen">
              <p style="font-size: 15px;">{{sc.temperatureSensors[sensor].number}}</p>
            </div>
          </div>
          <a class="waves-effect waves-light btn red new-button col s4" ng-click="sc.temperatureSensors[sensor].editable = false; sc.temperatureSensors[sensor].number = 0;" ng-show="sc.temperatureSensors[sensor].editable">Cancel</a>
          <a class="waves-effect waves-light btn green new-button col s4" ng-click="sc.temperatureSensors[sensor].editable = false; sc.temperatureSensors[sensor].selected = true;" ng-show="sc.temperatureSensors[sensor].editable">Ok</a>
          <form ng-show="sc.temperatureSensors[sensor].editable" action="#">
            <strong><p>Number of {{sc.temperatureSensors[sensor].name}}s</p></strong>
            <p class="range-field">
              <input type="range" id="test5" min="1" max="50" ng-model="sc.temperatureSensors[sensor].number" />
            </p>
          </form>

        </div>
      </div>

      <!-- End repeating the form stuff-->
      <div class="row">
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.newDropDown()">New Drop Down Option</a>
        <a class="waves-effect waves-light btn deep-purple col s2 new-button even-smaller-btn-text" ng-click="sc.newCheckAll()">New Check All That Apply Option</a>
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.newFreeResponse()">New Free Response</a>
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.newBeacon()">New Beacon</a>
      </div>
      <!-- Buttons for displaying sensors -->
      <div class ="row">
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addLight = true;" ng-hide="sc.addLight">Show Light Sensors</a> 
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addLight = false;" ng-show="sc.addLight">Hide Light Sensors</a>

        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addPress = true;" ng-hide="sc.addPress">Show Pressure Sensors</a>
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addPress = false;" ng-show="sc.addPress">Hide Pressure Sensors</a>

        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addProx = true; " ng-hide="sc.addProx">Show Proximity Sensors</a>
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addProx = false; " ng-show="sc.addProx">Hide Proximity Sensors</a>

        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addTemp = true;" ng-hide="sc.addTemp">Show Temperature Sensors</a>
        <a class="waves-effect waves-light btn deep-purple col s2 new-button smaller-btn-text" ng-click="sc.addTemp = false;" ng-show="sc.addTemp">Hide Temperature Sensors</a>
      </div>
    </p>
    
    <!-- Save the new space button: end of form -->
    <p class="input-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="sc.newSpace()">Save</button>
      </div>
    </p>
  </form>
<div>

<!-- Dumb hack to get material dropwdowns to work http://stackoverflow.com/questions/33894817/materialize-css-select-statement-not-showing -->
<script>
   $(document).ready(function() {
      $('select').material_select();
  });
</script>
