.new-button {
  margin: 0 8%;
}
.smaller-btn-text {
	font-size: 9px;
	word-wrap: normal;
	white-space: normal;
}
.thumbnail {
	position:relative;
}
.number-chosen{
	top:0;
    left:0;
    position: absolute;
    font-size: 5px;
}