<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<div class="row">
      <div class="col s12 m10 offset-m1">
          <div class="center-align row">
            <h1>Heads Up</h1>
            <h4 class="center-align thin">Make your space <strong>smart</strong></h4>
            <div style="margin: 2.1rem 0 1.68rem 0">
              <a class="waves-effect waves-light btn deep-purple " ui-sref="how-it-works">How It Works</a>
            </div>
          </div>

          <div class="row">
            <div class="col m4  center-align">
              <p class="flow-text">Utilize Google Beacons</p>
              <img src="assets/images/beacons.jpg" class="responsive-img" alt="Google Beacons">
            </div>
            <div class="col m4  center-align" >
              <p class="flow-text">Your Own Dedicated Mobile App</p>
              <img src="assets/images/app.jpg" class="responsive-img" alt="Mobile app">
            </div>
            <div class="col m4  center-align">
              <p class="flow-text">Engage Your Patrons</p>
              <img src="assets/images/patrons.jpg" class="responsive-img"alt="engagement">
            </div>
         </div>
      </div>
  </div>
